nav{
    background-color: yellow;
    padding: 10px;
}

body{
    margin: 0px;
}

header{
    text-align: center;
}

img{
    text-align: center;
}

footer{
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    position: relative;
}

p{
    font-family: "Bai Jamjuree", sans-serif;
}